*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
.home{
    width: 100vw;
    height: 100vh;
    background-color: rgba(188, 187, 187, 0.266);
    display: flex;
    justify-content: center;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    width:500px;
    position: relative;
    top: 115px;
    right: 50px;
}
.welcome-text img{
    right: 30px;
    position: relative;
    top: 35px;
    height: 10rem;
    width: 20rem;
}
.welcome-text p{
    font-size:27.5px;
    font-family: Arial;
}
.loginpanel{
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    top: 130px;
    left: 30px;
    width: 396px;
    height: 356px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 6px 4px 4px rgba(190, 190, 255, 0.275);
    p{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        position: relative;
        top: 20px;
        font-family: Arial;
        font-size: 14px;
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
                text-decoration: underline;
            }
    }
}
.loginform{
    height: 356px;
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#username, #password,#login{
    border: 1px solid #ccd0d5;
    position: relative;
    top: 10px;
    height: 55px;
    width: 365px;
    padding: 20px;
    border-color: rgba(177, 174, 174, 0.604);
    border-radius: 5px;
    margin: 6px;
    font-size: 17px;
}
#username:focus,#password:focus{
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 255, 0.199);
    border-color: #1677f5;
    outline: none;
}
#login{
    height: 48px;
    background-color:#0064e5;
    font-size: large;
    font-weight: bold;
    padding: 15px;
    color: white;
    border-color: rgba(255, 255, 255, 0);
}
#login:hover{
    background-color:#016fff ;
}
.forgotpassword{
    margin: 27px;
    text-decoration: none;
    color: #1877F2;
    font-family: Arial;
    font-size: 14px;
}
a:hover{
        text-decoration: underline;
    }
#signup{
    background-color: #05c405;
    width: 190px;
    height: 50px;
    font-size: 17px;;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    color: white;
    border-color: rgba(240, 248, 255, 0);
}
.line{
    position: relative;
    bottom: 15px;
    color: rgba(128, 128, 128, 0.447);
}

/* Moblie View */
@media screen and (max-width: 1200px) {

    .home{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 10px;
    }

    .welcome-text{
        width: 100%;
        max-width: 300px;
        top: 0;
        right: 0;
        align-items: center;
        text-align:center;
        margin-top: 10pxpx;
        margin-bottom: 30px;
    }

    .welcome-text img{
        width: 320px;
        height: auto;
        top: 0;
        right: 0;
        margin-bottom: 10px;
    }

    .welcome-text p{
        font-size: 20px;
    }

    .loginpanel{
        width: 100%;
        max-width: 360px;
        top: 0;
        left: 0;
        box-shadow: none;
        border-radius: 8px;
        margin-bottom: 50px;
    }

    .loginform{
        width: 100%;
        height: auto;
    }

    #username,#password,#login{
        width: 92%;
        height: 48px;
        font-size: auto;
    }
}
