@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
p{
    font-family: "Noto Sans JP", sans-serif;
}

@font-face {
    font-family: "Nabla", system-ui;
    src: url(./Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);
}
div{
    font-family: "Nabla", system-ui;
}
  
    