body{
    text-align: center;
    background-color: black;
}
h1::first-letter{
    font-size: 100px;
    
}
h1{
    text-align: center;
    text-shadow: 2px 3px 4px red;
}
div>p:hover{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div>img:hover{
    content: url(https://www.hindustantimes.com/ht-img/img/2024/11/25/550x309/Rashmika_with_Rakshit_and_Vijay_1732522171145_1732522171349.jpg);
}

image:hover{
    content: url(<video src=" "></video>);
}