*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    border: 3px solid black;
    justify-content: space-between;
    align-items: center;
    
}
.links{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.login button{
    padding: 20px;
    font-size: 10px; 
}
