*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 100px;
    width: 100px;
    background-image: linear-gradient(red,black);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: square;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    
}
@keyframes square{
    form{

    }
    to{
        transform: translateY(400px) rotate(360deg);
        border-radius:50%;
    }
}
div:hover{
    animation-play-state: paused;
}
h1{
    color: white;
}